<html>
    <head>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
        <title>Marques Johansson on GitHub</title>
    </head>
    <body ng-app="DisplagueGHIOApp">
        <article ng-controller="RepoListCtrl">
        <div layout="row" ng-repeat="repo in repos">
            <div ng-if="repo.fork">
                <strong>{{repo.name}}</strong><em>{{repo.html_url}}</em>            
            </div></div>
        </article>
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>        

        <script src="app.js"></script>
    </body>
</html>
